/* Estilos globais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #F8F9FA;
    font-family: "Inter", sans-serif;
}

.content {
    display: flex;
}

.main-content {
    margin-left: calc(13rem + 1rem);
    padding: 3rem 2rem;
    width: 100%;
    transition: margin-left 0.3s;
} 

.sidebar.collapsed ~ .main-content {
    margin-left: calc(6rem + 1rem);
}
